{
    "server": {{ server }},
    "datacenter": "{{ datacenter }}",
    "data_dir": "/var/consul",
    "encrypt": "{{ encrypt }}",
    "log_level": "INFO",
    "enable_script_checks": true,
    "enable_local_script_checks": true,
    "enable_syslog": true,
    "leave_on_terminate": true,
    "retry_join": ["20.36.204.85"]
}